<!-- Search Grid Section -->
    <section id="search" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Search</h2>
                    <h3 class="section-subheading text-muted">Start your search today!</h3>
						<frameset rows="202,*" cols="*" frameborder="NO" border="0" framespacing="0"><frame scrolling=no noresize src="/acnt/AR161623/site/index.html?ZKEY=&acnt=AR161623&button=SEARCH_MLS&action=SEARCH_MLS&homepageaction=TOPBAR&tm=1465136714" name="TOPBAR"><frameset cols="240,*" framespacing="0" frameborder="no" border="0" bordercolor="#990000"><frame scrolling=no noresize src="/acnt/AR161623/site/index.html?ZKEY=&acnt=AR161623&button=SEARCH_MLS&action=SEARCH_MLS&homepageaction=SIDEBAR&tm=1465136714" name="SIDEBAR"></frame><frame noresize src="http://idxpro.cisdata.net/AR161623/index.html" name="DETAIL"></frameset>i</frameset>				
                </div>
            </div>
        </div>
    </section>
