<!-- Search Grid Section -->
    <section id="search" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Search</h2>
                    <h3 class="section-subheading text-muted">Start your search today!
					<br><font size="1" class="section-subheading text-muted">Can't view this search? Click <a href="http://idxpro.cisdata.net/AR161623/index.html" target="_blank">HERE.</a></font></h3>
						<p><iframe src="https://www.google.com/search?q=%http://idxpro.cisdata.net/AR161623/index.html&btnI=Im+Feeling+Lucky" height="700" width="800" frameborder="0"></iframe></p>
                </div>
            </div>
        </div>
    </section>
