<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="https://homes4u.us/favicon.ico?" type="image/x-icon" />
<link rel="icon" href="https://homes4u.us/favicon.ico?" type="image/x-icon" />
</head>
  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include search.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>